In [1]:
#If connector is not installed yet
#!pip install neo4j-driver

In [2]:
#Imports
from neo4j import GraphDatabase, basic_auth
import pandas as pd

In [3]:
#Create db connector
login = open("Login.txt", "r")
uri = login.readline()
user = login.readline()
password = "RgC0_tAy1f8T_-_d1FnszgwXo1VafPO7h5gme7fJHlI"
login.close()

driver = GraphDatabase.driver(uri, auth=basic_auth(user, password))
session = driver.session(database="neo4j")

# Introduction

This notebook is for the set up of the database and getting the data into it.

In [4]:
#Reset database
delete_nodes_with_relationship = "match (a) -[r] -> () delete a, r"
delete_nodes_without_relationships = "match (a) delete a"
# All indexes and constraints.
delete_all_index = "CALL apoc.schema.assert({},{},true) YIELD label, key RETURN *"

session.run(delete_nodes_with_relationship)
session.run(delete_nodes_without_relationships)
session.run(delete_all_index)

In [5]:
#Load nodes and relations from file
nodes_relation_open = open("nodes_relations.txt", "r")
nodes_relations = nodes_relation_open.read()
nodes_relation_open.close()
print(nodes_relations[:195])

CREATE
  (Episode1:Movie {name: 'Episode I: The Phantom Menace'}),
  (Episode2:Movie {name: 'Episode II: Attack of the Clones'}),
  (Episode3:Movie {name: 'Episode III: Revenge of the Sith'}),

In [6]:
#Filldatabase with nodes and relationships
session.run(nodes_relations)

In [7]:
#Show nodes of Droid, Movies, Person 
test_querys = ['''MATCH (n:Droid) RETURN n LIMIT 25''', '''MATCH (n:Movie) RETURN n LIMIT 25''', '''MATCH (n:Person) RETURN n LIMIT 25''']

for test_query in test_querys:
    results = session.read_transaction(
        lambda tx: tx.run(test_query).data())
    print(results)

[{'n': {'name': 'R2-D2'}}, {'n': {'name': 'BB-8'}}, {'n': {'name': 'C-3PO'}}]
[{'n': {'name': 'Episode I: The Phantom Menace'}}, {'n': {'name': 'Episode II: Attack of the Clones'}}, {'n': {'name': 'Episode III: Revenge of the Sith'}}, {'n': {'name': 'Episode IV: A New Hope'}}, {'n': {'name': 'Episode V: The Empire Strikes Back'}}, {'n': {'name': 'Episode VI: Return of the Jedi'}}, {'n': {'name': 'Episode VII: The Force Awakens'}}]
[{'n': {'name': 'CHEWBACCA'}}, {'n': {'name': 'QUI-GON'}}, {'n': {'name': 'NUTE GUNRAY'}}, {'n': {'name': 'PK-4'}}, {'n': {'name': 'TC-14'}}, {'n': {'name': 'OBI-WAN'}}, {'n': {'name': 'DOFINE'}}, {'n': {'name': 'RUNE'}}, {'n': {'name': 'TEY HOW'}}, {'n': {'name': 'EMPEROR'}}, {'n': {'name': 'CAPTAIN PANAKA'}}, {'n': {'name': 'SIO BIBBLE'}}, {'n': {'name': 'JAR JAR'}}, {'n': {'name': 'TARPALS'}}, {'n': {'name': 'BOSS NASS'}}, {'n': {'name': 'PADME'}}, {'n': {'name': 'RIC OLIE'}}, {'n': {'name': 'WATTO'}}, {'n': {'name': 'ANAKIN'}}, {'n': {'name': 'SEBULBA'}}, {'n': {'name': 'JIRA'}}, {'n': {'name': 'SHMI'}}, {'n': {'name': 'DARTH MAUL'}}, {'n': {'name': 'KITSTER'}}, {'n': {'name': 'WALD'}}]

In [8]:
get_labels = "MATCH (n) WHERE EXISTS(n.name) RETURN ID(n) AS ID, labels(n) AS label, n.name AS name ORDER BY labels(n)"
df = pd.DataFrame (session.read_transaction(
                    lambda tx: tx.run(get_labels).data()), columns = ['ID','label', 'name'])
df

      ID     label                              name
0    126   [Droid]                             R2-D2
1    128   [Droid]                              BB-8
2    150   [Droid]                             C-3PO
3    119   [Movie]     Episode I: The Phantom Menace
4    120   [Movie]  Episode II: Attack of the Clones
..   ...       ...                               ...
114  233  [Person]                         YOLO ZIFF
115  234  [Person]                     COLONEL DATOO
116  235  [Person]                         ELLO ASTY
117  236  [Person]                              JESS
118  237  [Person]                           NIV LEK

[119 rows x 3 columns]

In [9]:
relationships = "CALL db.relationshipTypes()"
df = pd.DataFrame(session.read_transaction(
            lambda tx: tx.run(relationships).data()), columns = ['relationshipType'])
df

  relationshipType
0      SPEAKS_WITH
1       APPEARS_IN

In [10]:
#Get specific character
get_v_one = "MATCH (r) WHERE r.name=\"Episode I: The Phantom Menace\" RETURN r As Name"
print(session.read_transaction(
        lambda tx: tx.run(get_v_one).data()))

[{'Name': {'name': 'Episode I: The Phantom Menace'}}]

In [11]:
#Close all connections
driver.close()
session.close()
drive = None
session = None